@{
    ViewBag.Title = "Главная";
}

<h2>@ViewBag.Title</h2>

<div id="divPlot"></div>
<script>
      d3.select('html').style('height','100%').style('width','100%')
      d3.select('body').style('height','100%').style('width','100%')
      d3.select('#divPlot').style('width', "1000px").style('height', "1000px")
      scatterPlot3d( d3.select('#divPlot'), '@ViewBag.data');
</script>